body {
    background-color: rgb(135, 134, 134);
}

header {
    background-color: rgb(61, 203, 254);
}

.red {
    background-color: rgb(123, 19, 19);
}

.col-5{
    background-color: antiquewhite;
}
.col-4{
    background-color: rgb(235, 197, 32);
}
.col-3{
    background-color: whitesmoke;
}
footer {
    height: 70px;
    text-align: center;
    background-color: rgb(123, 19, 19);
    font-size: large;
    color: white;
}